* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
}
a {
    text-decoration: none;
    color: inherit;
}
li{
    list-style: none;
}

button,input{
    outline: none;
}

input::-webkit-input-placeholder{
    color:#aaa;
}